version: '3.8'

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "8080:80" # Mapea el puerto 8080 de tu máquina al puerto 80 del contenedor
    volumes:
      - ./:/var/www/html:ro # Monta tu proyecto local en el contenedor (sólo lectura)
      - ./nginx.conf:/etc/nginx/conf.d/default.conf # Usa tu archivo de configuración de Nginx
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: .
      dockerfile: Dockerfile # Usa el Dockerfile que creaste
    volumes:
      - ./:/var/www/html:rw # Monta tu proyecto local en el contenedor (lectura/escritura)
    environment:
      - docker=true
